<!DOCTYPE html>

{% load static %}

<html lang="en" ng-app="bbc-movies">
    <head>
        <meta charset="utf-8">
        <title>{% block title_block %}{% endblock %} - LETO </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}" />

        <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/app.js" %}"></script>
        <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.12.1.min.js" %}"></script>
    </head>

    <body>
        {% block body_block %}{% endblock %}
    </body>

</html>