{% extends 'movies/base.html' %}

{% load staticfiles %}

{% block title_block %} BBC iPlayer Movies {% endblock %}

{% block body_block %}

{% verbatim %}
<div ng-controller="MoviesController">
    <div class="progress progress-striped active" ng-show="loading">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">BBC iPlayer Movies</h3>
      </div>
      <div class="panel-body">
        <div ng-show="loading && !hasMore">Loading...</div>
        <ul class="media-list">
            <li class="media" ng-repeat="movie in movies">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="{{movie.image}}" alt="{{movie.title}} preview">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{movie.title}} ({{movie.year}})</h4>
                    <div><rating ng-model="movie.rating" max="10" readonly="true"></rating>from {{movie.votes}} votes</div>
                    <div>{{movie.synopsis}} - {{movie.duration}}</div>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-primary add-more" ng-disabled="loading" ng-show="hasMore" ng-click="addMore()">
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> more...
        </button>
      </div>
    </div>
</div>
{% endverbatim %}

{% endblock %}